body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.texteRabais{  
  text-decoration: line-through;
  display: inline-block ;
}

.texteNouveauPrix{
  display: inline-block;
  color: #d9534f;
  font-weight: bold;
}
.hover-shadow {
  transition: box-shadow .3s;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
  
}
.hover-shadow:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: green;
  border-color: green;}

.pagination{
  justify-content: center;
}
.pagination > li > a
{
    background-color: white;
    color: green;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: green;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    
    color: green;
    background-color: green;
    border: solid 1px green;
}

.pagination > .active > a:hover
{
    background-color: green;
    border: solid 1px green;
}

.containerProduit{
  justify-content: center;
}
.choixParPage{
  float: left;
}